@import '../../colors';

.benefits-container {
  max-width: 75vw;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: $background-color3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  color: $text-color-title;
  font-weight: bold;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: $text-color-inverted;
}