$pink-light-1: #fde4f2;
$pink-light-2: #f9cee7;
$pink-light-3: #f4b8da;
$pink-4: #eea1cd;
$pink-5: #e68bbe;

$primary-color: $pink-4;
$secondary-color: $pink-light-3;

$background-color: 	$pink-5;
$background-color2: $pink-light-2;
$background-color3: $pink-light-1;


$text-color: #333;
$text-color-inverted: #110b0f;
$text-color-title: $pink-5;
