$primary-color: #aec6cf;
$secondary-color: #accfe8;
$background-color: #7071E8;
$background-color2: #ecf2ff;
$background-color3: #f3f9ff;
$text-color: #333;
$text-color-inverted: #000000;
$text-color-title: $secondary-color;
