@import '../../../colors';
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px; /* Adjust the top padding as needed */
  background-color: $background-color2; /* Background color for the body */
  width: 90%; /* Set the width of the body */
  margin: 0 auto; /* Center the body horizontally */
}